<div class="mx-auto max-w-prose shadow shadow-sky-500/50 p-3 shap-3 m-3">
    <h1 class="bg-sky-100 text-center text-sky-600 p-3 font-bold rounded my-2">New Article</h1><br>

    <%= render "form", article: @article %>
</div>